#board {
  max-width: 80vh;
  border: 0 solid #ddd;
  border-top-width: 1px;
  border-left-width: 1px;
}

.last-move {
  background-color: #98d4f7;
}

[data-disk] {
  position: relative;
  border: 0 solid #ddd;
  border-bottom-width: 1px;
  border-right-width: 1px;
  transition: background-color .2s linear;
}

[data-disk=""]:hover {
  background-color: #fcfcfc;
}

[data-disk]:before {
  content: '';
  position: absolute;
  top: 5%; right: 5%; bottom: 5%; left: 5%;
  border-radius: 50%;
  border: 1px solid transparent;
}
[data-disk="dark"]:before {
  background-color: #666;
  border-color: #ddd;
}
[data-disk="light"]:before {
  background-color: #ddd;
  border-color: #666;
}
