.react-board-container {
  max-width: 80vh;
  width: calc(100vw - 2em);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.react-board {
  display: flex;
  flex-wrap: wrap;
}

.react-board-row {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
}

.react-board-cell {
  flex: 1;
}

/* cells */
.react-board-highlighted {
  background-color: #98d4f7;
}

[data-cell-value] {
  position: relative;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
[data-cell-value=""]:hover {
  background-color: #fcfcfc;
}

/* disks */
[data-cell-value]:before,
[data-cell-value]:after {
  content: '';
  position: absolute;
  top: 5%; right: 5%; bottom: 5%; left: 5%;
  border-radius: 50%;
  border: 1px solid transparent;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* light disk */
[data-cell-value]:before {
  background-color: #ddd;
  border-color: #666;
}
[data-cell-value="light"]:before {
  transform: rotateX(0deg);
}

/* dark disk */
[data-cell-value]:after {
  background-color: #666;
  border-color: #ddd;
}
[data-cell-value="dark"]:after {
  transform: rotateX(0deg);
}
