header {
  padding: .5em 1em;
}

header h1 {
  margin: 0;
}

header small {
  display: none;
}

#score .light,
#score .dark {
  margin: .5em 0;
}

.on-move {
  text-decoration: underline;
}

@media (min-height: 400px) and (min-width: 400px) {
  header {
    padding: 1em;
  }

  header small {
    display: inline;
  }
}
