/* Header */
header {
  padding: .5em 1em;
}

@media (min-width: 768px) {
  header {
    padding: 1em;
  }
}

header h1 {
  margin: 0;
}

.scores > * {
  margin: .5em 0;
}

.scores .light {
  color: #ddd;
}

.scores .dark {
  color: #666;
}

.scores .highlighted {
  text-decoration: underline;
}


/* Main */
.react-board-container {
  max-width: 75vh;
  width: calc(100vw - 2em);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.react-board {
  display: flex;
  flex-wrap: wrap;
}

.react-board-row {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
}

/* cells */
.react-board-cell {
  flex: 1;
  position: relative;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.react-board-highlighted {
  background-color: #e1f2fc;
}

/* empty cell */
[data-cell-value=""]:hover {
  background-color: #fcfcfc;
}
[data-cell-value=""].react-board-highlighted:hover {
  background-color: #f6fbfd;
}

/* disks */
[data-cell-value]:before,
[data-cell-value]:after {
  content: '';
  position: absolute;
  top: 5%; right: 5%; bottom: 5%; left: 5%;
  border-radius: 50%;
  border: 1px solid transparent;
  backface-visibility: hidden;
  transform: rotateX(180deg);
}

/* light disk */
[data-cell-value]:before {
  background-color: #ddd;
  border-color: #666;
}
[data-cell-value="light"]:before {
  transform: rotateX(0);
}

/* dark disk */
[data-cell-value]:after {
  background-color: #666;
  border-color: #ddd;
}
[data-cell-value="dark"]:after {
  transform: rotateX(0);
}


/* Footer */
footer {
  padding: 1em;
}
